<div 
  [ngClass]="
    transaction.type === 'EXPENSE' 
      ? 'bg-blue-50 hover:bg-blue-100' 
      : 'bg-green-100 hover:bg-green-200'
  "
  class="shadow-md rounded-2xl p-4 border border-gray-200 cursor-pointer"
  (click)="onOpenDetailedTransaction()"
>
    <div class="flex flex-row justify-between font-semibold text-gray-800 mb-2">

      <p class="text-lg max-w-2/3 ">
        {{ transaction.title }}
      </p>

      <p class="text-xl">
        {{ transaction.amount | number:'1.2-2':'fr-FR' }} €
      </p>

    </div>

    <div class="flex flex-row justify-between">

      <p class="text-gray-500">
        {{ transaction.category }}
      </p>
      
      <p class="text-gray-500">
        {{ transaction.date | date:'dd/MM/yyyy' }}
      </p>
      
    </div>

</div>

<app-modal [isOpen]="showDetailedTransaction" (closed)="onCloseDetailedTransaction()">
  <app-detailed-transaction-card [transaction]="transaction" (deleted)="onCloseDetailedTransaction()" />
</app-modal>