<div class="flex flex-col justify-start items-stretch gap-y-4 shadow-md rounded-2xl px-4 pt-4 border border-gray-200">
    <p class="text-2xl font-semibold text-center">
        Dernières transactions
    </p>
    
    <app-transaction-list [userId]="userId" [nbToShow]="4" />

    <div class="flex flex-row justify-between gap-x-4">
        <app-button variant="secondary" (click)="onOpenAllTransactions()">
            Voir toutes les transactions
        </app-button>
        <app-button (click)="onOpenTransactionForm()">
                Ajouter une transaction
        </app-button>
    </div>

    <div>
        <app-modal [isOpen]="showTransactionForm" (closed)="onCloseTransactionForm()">
            <app-transaction-form [userId]="userId" />
        </app-modal>
        
        <app-modal [isOpen]="showAllTransactions" (closed)="onCloseAllTransactions()">
            <app-transaction-list [userId]="userId" [nbToShow]="0" />
        </app-modal>
    </div>
</div>