<div class="flex flex-col gap-y-6 items-stretch p-6">

  <h1 class="text-5xl font-semibold text-center">
    Dashboard
  </h1>

  <div class="flex flex-row justify-evenly items-center gap-y-4 flex-wrap">

    <div class="min-w-100 max-w-[30vw] flex-1">
      <app-graph-card [userId]="userId" grouping="category" title="Dépenses par catégorie">
        <app-graph #data graphType="pie"></app-graph>
      </app-graph-card>
    </div>

    <div class="min-w-100 max-w-[30vw] flex-1">
      <app-graph-card [userId]="userId" grouping="month" [limit]="6" title="Dépenses par mois">
        <app-graph #data graphType="bar"></app-graph>
      </app-graph-card>
    </div>
      
    <div class="min-w-100 max-w-[30vw] flex-1">
      <app-transaction-manager [userId]="userId" />
    </div>

  </div>
</div>
  